     /*css sheet*/
     /*the colors we use for the website
        #B5FFC5
        #B3E8B5
        #D9FFD1
        #C7E8B3
        #F1FEDD 
        */
     
     /*navigation*/
    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #B3E8B5 ;
      }
    .nav li {
        float: left;
      }
      
    .nav li a {
        display: block;
        color: black;
        text-align: center;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left:4%;
        padding-right: 7%;
        text-decoration: none;
      }
      .hokjes{
        padding-left: 10%;
      }
      .sale{
        margin-top: 7%;
      }

    .nav li a:hover {
        background-color: #D9FFD1;
      }
      .active {
        background-color: #04AA6D;
      }

    #logo img {
      padding-left: 1%;
      padding-right: 1%;
      padding-bottom: 1%;
      padding-top: 1%;
      margin: -37%;
      height: 100%;
      width: 110%;
    }
      .cart{
      z-index: 2;
      margin: 1%;
      padding: 0;
    }
/* Dropdown */

.dropbtn {
  background-color: #C7E8B3;
  color: black;
  padding-right: 114%;
  padding-bottom:10%;
  padding-top: 20%;
  font-size: 150%;
  padding-left: 114%;
  margin-left: 1439%;
  margin-top: 20%;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #D9FFD1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 10%;
  overflow: auto;
  box-shadow: 0% 2% 3% 0% rgba(0,0,0,0.2);
  z-index: 10;
  margin-left: 50%;
 padding-bottom: 3%;
 padding-top: 3%;
  
}

.dropdown-content a {
  color: rgb(197, 55, 55);
  padding: 2% 3%;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #f8faf8;}

.show {display: block;}

.search-box{
  width: 38%;
   position: absolute;
   top: 6%;
   left: 50%;
   right: 50%;
   transform: translate(-50%,-50%);
   background:rgb(255, 255, 255);
   height: 40px;
   border-radius: 60px;
   padding: 10px;
  }

.search-btn{ 
color: rgb(0, 0, 0);
float: right;
width: 10%;
height: 88%;
border-radius: 50%;
background: rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: center;
}
.search-txt{
  border: none;
  outline: none;
  float: left;
  padding:1%;
  color:black ;
  font-size: 100%;
  line-height: -50%;
  width: 88%;

}
.topnav input[type=text] {
  float: none;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

      /*body*/

      body {
        margin: 0;
        background-color: #e2ffe8;
        z-index: -1;
      }
